body {
    background-color: #eee;
    color: #111;
    font-family: "Helvetica", sans-serif;
    margin: 35px;
}

h1 {
    border-bottom: 1px solid black;
    font-family: "Courier New", monospace;
    font-size: 48px;
    font-weight: bold;
    margin: 25px;
}

.game {
    background-color: #e8e8dd;
    border: 2px outset #e4e4d4;
    box-shadow: 1px 6px 20px rgba(0, 0, 0, 0.2);
    color: #333;
    display: inline-block;
    margin: 25px;
    padding: 15px;
    text-decoration: none;
    width: 360px;
}

.game-title {
    font-family: "Courier New", monospace;
    font-size: 24px;
    font-weight: bold;
}

.game-image {
    margin: 10px 0;
    text-align: center;
}

.game-image img {
    border: 1px inset #ddc;
    height: 240px;
}

.game-desc {
    font-style: italic;
    font-size: 16px;
    color: #666;
}

p {
    text-align: center;
}

footer {
    color: #999;
    margin: 25px 0;
    text-align: center;
}
